html {
    font-size: 20px;
    font-family: "EB Garamond", serif;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-size: 1em;
    background-color: #5c5c5c;
    color: black; /*rgb(218, 213, 213);*/
    left: 0;
}

header {
    width: 100%;
}

header .content {
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 70%;
    margin-left: 1em;
}
 h1 {
    margin-left: .5em;
    display: inline;
}
header p {
    display: inline;
    font-family: monospace;
    font-size: 1em;
}

#locations {
    margin-left: 4rem;
}

h2 {
    text-decoration: underline;
}

a {
    color: black;
}
ul {
    display: flex;
    /* justify-content: center; */
    justify-items: center;
    list-style: none;
}

li {
    text-align: center;
    padding: 1rem 5rem;
    flex-shrink: 1;
}

@media only screen and (max-width: 1250px){
    #locations {
        text-align: center;
        margin-left: 0;
    }
    ul {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    canvas {
        height: 1rem;
    }
}

canvas {
    margin-left: -4rem;
    margin-bottom: -6px;
    /* width: 100%; */
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

footer .content{
    width: 100%;
    height: 3rem;
    background-color: rgb(34, 34, 34);
    text-align: center;
}
footer a {
    margin-right: 2rem;
    padding-top: 2rem;
    color: white;
    font-family: monospace;
}
