html {
    font-size: 20px;
    font-family: "EB Garamond", serif;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-size: 1em;
    background-color: #5c5c5c;
    color: black; /*rgb(218, 213, 213);*/
    left: 0;
}

header {
    width: 100%;
}

header .content {
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 70%;
    margin-left: 1em;
}
 h1 {
    margin-left: .5em;
    display: inline;
}
header p {
    display: inline;
    font-family: monospace;
    font-size: 1em;
}

#about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#about .content{
    width: 40rem;
}

#about h2 {
    margin-left: 1rem;
    text-decoration: underline;
}

#about p {
    width: 19.5rem;
    margin: auto 4rem;
    font-family: monospace;
}

#about figure {
    width: 18rem;
    overflow: hidden;
}

#about img {
   max-width: 98%;
   height: auto;
   border: 1px solid black;
   position: relative;
}

canvas {
    margin-bottom: -6px;
}
#game {
    margin-bottom: -1000px;
}

@media only screen and (max-width: 1250px){
    #about .content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 500px){
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }
    header h1 {
        display: block;
        margin-left: -.25em;
    }
}
#projects {
    margin-left: 5rem;
    margin-bottom: 2rem;
}

h3 {
    text-decoration: underline;
}

ul {
    list-style:square
}

a {
    color:rgb(255, 255, 255);
    font-family: monospace;
}
#skills {
    text-align: center;
    width: 50%;
    margin-left: 24%;
    margin-bottom: 5rem;
}

.skills-container {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.skill-container * {
    font-size: 2rem;
    width: 2em;
    margin-left: 2em;
}

footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: rgb(34, 34, 34);
    text-align: center;
}

footer a {
    margin-right: 2rem;
}